@font-face {
    font-family: 'Ownglyph_meetme-Rg';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2402_1@1.0/Ownglyph_meetme-Rg.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'intelone-mono-font-family-regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-1@1.1/intelone-mono-font-family-regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

*{ /* 모든 요소의 기본 여백과 패딩 제거 */
    margin:0;
    padding:0;
}

body{
    background-color: #d2d2ff;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    justify-content: flex-start;
    padding-top: 20px;
}

.main-cont{
    padding: 50px;
    width: 500px;
    height: 600px;
    border-radius: 6px;
    background-color: #C8D7FF;
    font-family: 'Ownglyph_meetme-Rg';
}

.input-area{
    text-align: center;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#date{
    width: 115px;
    height: 30px;
    border: none;
    border-radius: 3px;
    font-family: 'Ownglyph_meetme-Rg';
    text-align: center;
    padding: 3px;
    font-size: large;
}

#todo{
    width: 270px;
    height: 30px;
    border: none;
    border-radius: 3px;
    font-family: 'Ownglyph_meetme-Rg';
    font-size: large;
    margin-right: 10px;
}

h1{
    font-family: 'intelone-mono-font-family-regular';
    text-align: center;
    margin-bottom: 10px;
    color: #8282eb;
}

#btn{
    width:30px;
    height: 30px;
    font-size: larger;
    background-color: black;
    color: #fffbd2;
    border-radius: 4px;
    border: none;
    cursor: pointer; /* cursor-요소 위에 마우스 커서가 올라갔을때 보여줄 모양 */
}

#result-area li{
    font-size: larger;
    padding: 10px 0;
    display: flex;
    width: 100;
    border-bottom: 2px solid black;
    border-bottom-style: dashed;
}

#result-area button{
    margin-left: auto;
    border: none;
    color: solid black;
    font-weight: 700;
}

#result-area input{
    margin-right: 30px;
}

#result-area:nth-child(2){
    margin-right: 30px;
}

#result-area span{
    margin-right: 10px;
    font-family: 'Ownglyph_meetme-Rg';
    font-size: larger;
    color: black;
}

.delete-btn{
    width: 25px;
    height: 25px;
    font-size: 16px;
    background-color: rgb(147, 176, 236);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.delete-btn:hover{
    background-color: darkred;
}
